body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBarStyles {
  background-color: #39b54a;
}

.buttonStyles {
  background-color: #39b54a;
  border-color: #39b54a;
}

.buttonStyles:active {
  background-color: #9fcca3;
}

.buttonStyles:hover {
  background-color: #6ac473;
  border-color: #6ac473;
}

.cardHeaderText {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
